@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absolute {
  position: absolute;
  z-index: 10;
}

.top-right {
  top: -4px;
  right: -4px;
}

.appearance-none {
  border: none;
  background: transparent;
}

.menu, .ui.segment {
  border-radius: 0px !important;
}